
copy.scr
*.log
venv/
/__pycache__
data_extended/
llm_def_extended.py
config_extended.py
*.swp
data/BL/b2b.txt
data/BL/b2b_extended.txt
data/BL/b2b_extended2.txt
data/BL/bmg.txt
data/BL/curvy.txt
data/BL/epilogue_5th.txt
data/BL/epilogue_6th.txt
data/BL/meet.txt
data/BL/slender_1.txt
data/COMMON/b2b.txt
data/COMMON/b2b_extended.txt
data/COMMON/b2b_extended2.txt
data/COMMON/bmg.txt
data/COMMON/curvy.txt
data/COMMON/epilogue_5th.txt
data/COMMON/epilogue_6th.txt
data/title2_male.txt
data_comfyui/anima_0203.json
data_comfyui/anima_Feb03.json
novelpia/시온자와의 하늘은 언제나 기괴할 정도로.txt
story/b2g.txt
story/bmb.txt
story/COMMON/crisis.txt
story/COMMON/dialog_style.txt
